<div class="dashboard-container">

  <!-- Usuarios -->
  <div class="card card-usuarios"
       routerLink="/admin/usuarios"
       style="cursor: pointer;">
    <h3>Usuarios registrados</h3>
    <p>{{ totalUsuarios }}</p>
  </div>

  <!-- Laboratorios -->
  <div class="card card-labs"
       routerLink="/admin/laboratorios"
       style="cursor: pointer;">
    <h3>Laboratorios configurados</h3>
    <p>{{ totalLabs }}</p>
  </div>

  <!-- Resultados -->
  <div class="card card-resultados"
       routerLink="/admin/resultados"
       style="cursor: pointer;">
    <h3>Resultados registrados</h3>
    <p>{{ totalResultados }}</p>
  </div>

</div>
